<footer>
  <div class="container">
    <div class="content row">
      <div class="links col-12 col-sm-6">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-5">
            <p class="f-18">Produtos</p>
            <ul>
              <li><a routerLink="/">Cozinha</a></li>
              <li><a routerLink="/">Banheiro</a></li>
              <li><a routerLink="/">Acabamento</a></li>
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-md-7">
            <p class="f-18">Contato</p>
            <ul>
              <li><a routerLink="/">Sobre</a></li>
              <li><a routerLink="/">Fale conosco</a></li>
              <li><a routerLink="/">Faça seu orçamento</a></li>
              <li><a routerLink="/">Localização</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="brand_col col-12 col-sm-6">
        <div class="brand">
          <div class="logo">
            <img src="assets/images/logo-dark.svg" alt="logo">
            <span>Marmoraria</span>
          </div>
          <div class="social">
            <ul>
              <li>
                <a href="https://wa.me/5521995660600" target="_blank" rel="noopener noreferrer">
                  <i icon="whatsapp"></i> (21) 9 9566-0600
                </a>
              </li>
              <li>
                <a href="https://instagram.com/kauaalandi/" target="_blank" rel="noopener noreferrer">
                  <i icon="instagram"></i> @kauaalandi
                </a>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="tape-copy">
  <p class="f-10">
    &copy; Copyright - Todos os direitos reservados - AL Design 2023 • Política de Privacidade •
    Desenvolvido por <a class="f-10" href="https://www.instagram.com/bk.agencia/" target="_blank"
      rel="noopener noreferrer">KB
      Agência</a>
  </p>
</div>