<div class="tape">
  <p>Sinônimo de <strong>qualidade</strong> e <strong>confiabilidade</strong>.</p>
  <i icon="check"></i>
</div>

<nav>
  <div class="content">

    <a class="logo" routerLink="/">
      <img src="assets/images/logo.svg" alt="logo">
    </a>

    <div class="search card_input" [ngClass]="{active: showSearch}">
      <input type="text" placeholder="O que está buscando?">
      <button aria-label="Buscar" mat-icon-button>
        <i icon="search"></i>
      </button>
    </div>

    <div class="menu">
      <button class="search_button" (click)="showSearch = !showSearch" aria-label="Buscar" mat-icon-button>
        <i icon="search"></i>
      </button>
      <button aria-label="Carrinho" mat-icon-button>
        <i icon="cart"></i>
        <span class="dot">2</span>
      </button>
    </div>
  </div>
</nav>

<div class="pages">
  <ul>
    <li>
      <a routerLink="/">Início</a>
    </li>
    <li>
      <a routerLink="/produtos">Produtos</a>
    </li>
    <li>
      <a routerLink="/sobre">Sobre nós</a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>