@import 'src/styles/media';

.tape {
  background-color: var(--primary_color);
  display: flex;
  gap: 5px;
  padding: 8px;
  align-items: center;
  justify-content: center;
  color: var(--primary_bg);
  box-shadow: var(--bs);
  position: relative;
  p {
    font-size: 0.8rem !important;
    text-transform: uppercase;
    margin: 0;
    strong {
      font-weight: 600;
    }
  }
  i {
    font-size: 1rem;
  }
}

nav {
  width: 100%;
  padding: var(--navbar_top_padding);
  background-color: var(--navbar_top_bg);
  .content {
    max-width: var(--navbar_max_width);
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;

    .logo {
      img {
        width: var(--navbar_logo_width);
        @include media('<=tablet') {
          width: var(--navbar_logo_width_tablet);
        }
      }
    }

    .search {
      width: 50%;
      max-width: 815px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
      flex-direction: row;
      @include media('<=navbar-collapse') {
        position: fixed;
        top: 56px;
        left: 50%;
        transform: translateX(-50%);
        width: 10%;
        opacity: 0;
        z-index: -1;
        transition: var(--ts);
        &.active {
          opacity: 1;
          z-index: 3;
          width: 80%;
          top: 144px;
        }
      }
      input {
        border-radius: var(--br) 0 0 var(--br);
        width: 100%;
      }
      button {
        width: 80px;
        height: 45px;
        box-shadow: var(--bs);
        background-color: var(--primary_color);
        border-radius: 0 var(--br) var(--br) 0;
        i {
          font-size: 1.2rem;
          color: var(--primary_bg);
        }
      }
    }

    .menu {
      display: flex;
      align-items: center;
      a,
      button {
        background-color: transparent;
        position: relative;
        box-shadow: none;
        i {
          color: var(--navbar_top_color);
          font-size: 1.2rem;
        }
        .dot {
          position: absolute;
          top: -5px;
          right: -5px;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background-color: var(--primary_color);
          color: var(--primary_bg);
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 0.6rem !important;
        }
      }
      .search_button {
        display: none;
        @include media('<=navbar-collapse') {
          display: block;
        }
      }
    }
  }
}

.pages {
  background-color: var(--third_color);
  box-shadow: var(--bs);
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
  }
  a {
    padding: 10px 20px;
    color: var(--primary_bg);
    border-radius: var(--br);
    font-size: 0.8rem;
    font-weight: 500;
    transition: var(--ts);
    display: block;
    text-decoration: none;
    &:hover {
      transform: scale(1.1);
    }
  }
}
