.mat-button-base {
  background-color: var(--primary_color);
  text-transform: uppercase;
  font-weight: 500;
  .mat-button-wrapper {
    color: var(--primary_bg);
  }
  &.mat-button {
    border-radius: var(--br);
    padding: 2px 25px;
  }
}
