@import './animations';

.card_input {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;

  label {
    font-size: 1rem;
    padding-left: 5px;
  }

  input,
  textarea,
  select {
    &[type='number'] {
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      appearance: textfield;
    }
    &[type='number']::-webkit-inner-spin-button,
    &[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
    &.ng-touched.ng-invalid {
      border-color: var(--red_color);
      @include shake;
    }
    &[type='file'] {
      display: none;
    }
  }
}
