/* scrollbar */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary_color);
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: var(--primary_bg);
  border-radius: 6px;
}
