:root {
  font-size: calc(15px + 0.390625vw);
  --ts: all 0.3s ease-in-out;
  --text_color: #000000;
  --main_color: #302b2b;

  --yellow_color: #f2af4c;
  --green_color: #5dc983;
  --red_color: #eb5769;

  // ? Navbar variables
  --navbar_max_width: 1024px;
  --navbar_logo_width: 50px;
  // --navbar_top_bg: #fff0; // transparent
  --navbar_top_bg: #ccc; // transparent
  --navbar_top_color: #000000;
  --navbar_top_padding: 20px 10px;
  --navbar_scroll_bg: #fff;
  --navbar_scroll_color: #000000;
  --navbar_scroll_padding: 0 10px;
}
