:root {
  font-size: calc(15px + 0.390625vw);
  --ts: all 0.3s ease-in-out;
  --text-color: #000000;
  --main-color: #302b2b;

  --yellow_color: #f2af4c;
  --green_color: #5dc983;
  --red_color: #eb5769;
}
