<section id="features">
  <div class="bg-layer">
    <img src="assets/images/features/img-1-7.png" alt="">
    <img src="assets/images/features/img-2.png" alt="">
    <img src="assets/images/features/img-3.png" alt="">
    <img src="assets/images/features/img-4.png" alt="">
    <img src="assets/images/features/img-5.png" alt="">
    <img src="assets/images/features/img-6.png" alt="">
    <img src="assets/images/features/img-1-7.png" alt="">
  </div>
  <div class="content-layer">
    <div class="row">
      <div class="col-4">
      </div>
      <div class="col-4">
      </div>
      <div class="col-4">
      </div>
    </div>
  </div>
</section>