<section id="features">
  <div class="bg-layer">
    <img src="assets/images/features/img-1-7.png" alt="">
    <img src="assets/images/features/img-2.png" alt="">
    <img src="assets/images/features/img-3.png" alt="">
    <img src="assets/images/features/img-4.png" alt="">
    <img src="assets/images/features/img-5.png" alt="">
    <img src="assets/images/features/img-6.png" alt="">
    <img src="assets/images/features/img-1-7.png" alt="">
  </div>
  <div class="content-layer">
    <div class="row">
      <div class="col-12 col-sm-4">
        <div class="item">
          <i icon="flower"></i>
          <p class="title f-18">Matéria-prima de qualidade</p>
          <p class="description">A qualidade dos nossos materiais faz com que os seus móveis durem muito mais tempo.</p>
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="item ruler">
          <i icon="ruler"></i>
          <p class="title f-18">Projetos personalizados</p>
          <p class="description">Projetos que levam em conta a realidade do seu lar, otimizando o espaço de forma
            inteligente e prática.</p>
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="item">
          <i icon="clock"></i>
          <p class="title f-18">Entrega rápida</p>
          <p class="description">Etapas de planejamento, produção e instalação muito mais ágeis.</p>
        </div>
      </div>
    </div>
  </div>
</section>